<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602586244203-eb3ek92jfv1ea3lj88kp8iu9kjaubbtv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602586244203-eb3ek92jfv1ea3lj88kp8iu9kjaubbtv</string>
	<key>API_KEY</key>
	<string>AIzaSyBkIYFNfjHc3FesfhXHv--2iGlzJUS3Sv4</string>
	<key>GCM_SENDER_ID</key>
	<string>602586244203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.darttVoyage.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>dartt-voyage</string>
	<key>STORAGE_BUCKET</key>
	<string>dartt-voyage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602586244203:ios:b95041b460681d8473bd2e</string>
</dict>
</plist>